
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}

html {
	background-image: url("../images/crumbled_paper_background.gif");	
}

/* Header */
.header {
  padding: 60px;
  text-align: center;
  background-color: darkmagenta;
  color: white;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  
}

/* Change color on hover */
.navbar a:hover {
  background-color: #F15A24;
  color: black;
}


/* Change color for current */
.current  {
   background-color: dimgray;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}


/* Sidebar/right column */
.side {
  flex: 50%;
  padding: 20px;
}

/* Main column */
.main {
  flex: 50%;
  background-color: white;
  padding: 20px;
}

/* Images */
.image {
   max-width: 100%;
    height: auto;
     padding-right: 20px;
}



/*copyright ID */
#copyright {
    font-size: 75%;
    text-align: left;
}


/* Footer */
.footer {
  padding: 10px;
  text-align: left;
  background-color: #F15A24;
}

/* Responsive layout - when the screen is less than 700px wide */
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
